---
---

// Page body background color
@body-background-color: hsl(0, 0%, 15%);

// Block quotes and code blocks border color
@code-block-border-color: hsl(0, 0%, 20%);

// Page header, footer, code block, table and block quote background color
@page-background-color: hsl(0, 0%, 25%);

// Section (content) and table even rows background color
@section-background-color: hsl(0, 0%, 30%);

// Page border color
@page-border-color: hsl(0, 0%, 35%);

// Navigation bar and footer text color
@nav-footer-color: hsl(0, 0%, 70%);

// Default text color
@default-text-color: hsl(0, 0%, 90%);

// Base color used for links and buttons
@base-hue: 24;

// Download and view buttons background and hover colors
@download-button-background-color: hsl(@base-hue, 100%, 45%);
@download-button-background-hover-color: hsl(@base-hue, 100%, 50%);

// Navigation, links and table cells default and hover colors
@link-color: hsl(@base-hue, 100%, 75%);
@link-hover-color: hsl(@base-hue, 100%, 50%);

// Page header and footer links hover and shadow colors
@nav-footer-hover-color: hsl(@base-hue, 100%, 60%);
@nav-footer-text-shadow-hover-color: hsl(@base-hue, 100%, 50%);

// GLFW logo text shadow color on hover
// Note : Texture used in header should use same color as GLFW Logo
@glfw-text-color: @nav-footer-hover-color;
@glfw-text-shadow-hover-color: @nav-footer-text-shadow-hover-color;

// Page header and footer height
@header-footer-height: 64px;

* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	line-height: 1.5em;
}

.download {
	color: #ffffff;
	padding: 0.25em;
	background-color: @download-button-background-color;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	margin-top: -3em;
	float: right;
	width: 8em;
	transition: .35s ease;
	text-transform: uppercase;
}

.download:hover {
	background-color: @download-button-background-hover-color;
	box-shadow: 0px 0px 8px @download-button-background-hover-color;
}

body {
	background-color: @body-background-color;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.17em;
}

h5 {
	font-size: 0.75em;
}

h1, h2, h3, h4, h5 {
	color: #ffffff;
	margin: 0.5em auto 0.5em auto;
}

hr {
	height: 2px;
	margin: 2em auto;
	border: 0px;
}

code, code span {
	font-family: monospace;
}

p, blockquote, table, .highlight {
	margin: 1em auto;
}

blockquote, .highlight {
	padding: 0.5em;
	border-width: 0px 0px 0px 4px;
	border-style: solid;
	border-color: @code-block-border-color;
	overflow: auto;
}

code, blockquote, table, .highlight, .download {
	border-radius: 2px;
}

code {
	padding: 0.1em;
}

.highlight code {
	padding: 0em;
}

td, th {
	padding: 0.5em;
}

section, th, tr:nth-child(even) {
	background-color: @section-background-color;
}

a, nav a:hover, footer a:hover, tr:hover {
	color: @link-color;
	text-decoration: none;
	transition: .35s ease;
}

a:hover {
	text-shadow: 0px 0px 8px @link-hover-color;
}

nav a, footer a {
	color: @nav-footer-color;
}

nav a:hover, footer a:hover {
	color: @nav-footer-hover-color;
	text-shadow: 0px 0px 8px @nav-footer-text-shadow-hover-color;
}

.page, hr, table, blockquote, code, .highlight {
	background-color: @page-background-color;
}

.page {
	max-width: 820px;
	margin: 32px auto 32px auto;
	box-shadow: 0px 0px 4px #000000;
	border: 2px solid @page-border-color;
	border-radius: 4px;
}

header {
	height: @header-footer-height;
}

header a#glfw_home {
	line-height: @header-footer-height;
	padding-right: 48px;
	float: left;
	color: @glfw-text-color;
	font-size: 2.5em;
	font-weight: bold;
	background-image: url("arrow.png");
	background-position: right top;
	background-repeat: no-repeat;
}

header a#glfw_home:hover {
	text-shadow: 0px 0px 16px @glfw-text-shadow-hover-color;
}

nav {
	float: right;
}

nav a {
	padding-left: 16px;
	line-height: @header-footer-height;
}

header, footer {
	padding: 0 32px;
}

section {
	min-height: 590px;
	padding: 32px;
	color: @default-text-color;
}

section ol, section ul {
	margin-left: 2em;
}

footer a {
	line-height: @header-footer-height;
	display: block;
	font-size: 0.75em;
	text-align: center;
}
