{% include feature.html img="img/clock.png" desc="Gives you a window and OpenGL context with just two function calls" %}

{% include feature.html img="img/ogl3.png" desc="Support for OpenGL, OpenGL ES, Vulkan and related options, flags and extensions" %}

{% include feature.html img="img/monitors.png" desc="Support for multiple windows, multiple monitors, high-DPI and gamma ramps" %}

{% include feature.html img="img/input.png" desc="Support for keyboard, mouse, gamepad, time and window event input, via polling or callbacks" %}

{% include feature.html img="img/doc.png" desc="Comes with guides, a tutorial, reference documentation, examples and test programs" %}

{% include feature.html img="img/osi.png" desc="Open Source with an OSI-certified license allowing commercial use" %}

{% include feature.html img="img/gears.png" desc="Access to native objects and compile-time options for platform specific features" %}

{% include feature.html img="img/bindings.png" desc="Community-maintained bindings for many different languages" %}
