{% row %}
{% include feature.html img="img/clock.png" desc="Gives you a window and OpenGL context with two function calls" %}
{% include feature.html img="img/ogl3.png" desc="Explicit support for MSAA, sRGB, robustness, OpenGL 3.2+ and OpenGL ES" %}
{% endrow %}

{% row %}
{% include feature.html img="img/monitors.png" desc="Support for multiple monitors, high-DPI, gamma ramps and clipboard" %}
{% include feature.html img="img/input.png" desc="Input can be either polled or delivered via callbacks" %}
{% endrow %}

{% row %}
{% include feature.html img="img/doc.png" desc="Examples and comprehensive documentation" %}
{% include feature.html img="img/osi.png" desc="Open Source with a liberal OSI-certified license" %}
{% endrow %}

{% row %}
{% include feature.html img="img/gears.png" desc="Supports both static and dynamic linking" %}
{% include feature.html img="img/bindings.png" desc="Language bindings for a lot of different languages" %}
{% endrow %}
