<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>GLFW - {{ page.title }}</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/pygments.css" type="text/css" media="all">
		<link rel="alternate" href="feed/index.xml" type="application/atom+xml" title="Atom Feed">
	</head>
	<body>
		<div class="page">
			<header>
				<a href="index.html" id="glfw_home">GLFW</a>
				<nav>
					<a href="documentation.html">Documentation</a>
					<a href="download.html">Download</a>
					<a href="community.html">Community</a>
					<a href="media.html">Media</a>
					<a href="license.html">License</a>
					<a href="faq.html">FAQ</a>
					<a href="links.html">Links</a>
				</nav>
			</header>
			<section>
				{{ content }}
			</section>
			<footer>
				<a href="">Copyright &copy; elmindreda</a>
			</footer>
		</div>
	</body>
</html>

