<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#f60">
		<title>GLFW - {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="css/base-min.css">
		<link rel="stylesheet" type="text/css" href="css/grids-min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="alternate" type="application/atom+xml" href="feed/index.xml">
		<link rel="shortcut icon" href="/favicon.ico">
		<script type="text/javascript">
			window.onload = function () {
				var request = new XMLHttpRequest();
				request.open("GET", "https://api.github.com/repos/glfw/glfw/milestones", true);

				request.onload = function () {
					if (this.status >= 200 && this.status < 400) {
						var data = JSON.parse(this.response);

						data = data.filter(function (item) {
						return (item.title.split(".").length-1) === 1;
						});

						data.sort(function (a, b) {
						return a.title - b.title;
						});

						var openIssues = data[0].open_issues;
						var closedIssues = data[0].closed_issues;
						var workProgress = closedIssues * 100 / (openIssues + closedIssues);

						var milestoneVersion = document.getElementById("milestone-version");
						milestoneVersion.innerHTML = data[0].title;

						var progressBarInner = document.getElementById("progress-bar-inner");
						progressBarInner.style.width = workProgress + "%";

						var progress = document.getElementById("progress");
						progress.innerHTML = Math.floor(workProgress) + "%";

						var milestoneContainer = document.getElementById("milestone-container");
						milestoneContainer.style.opacity = "1";
						milestoneContainer.style.transition = ".7s ease-in";
					}
				};

				request.send();
			};
		</script>
	</head>
	<body>
		<header class="main">
			<div class="wrapper">
				<div class="pure-g">
					<div class="pure-u-1-5">
						<a href="index.html" id="glfw_home">GLFW</a>
					</div>
					<div class="pure-u-4-5">
						<nav>
							<a href="documentation.html">Documentation</a>
							<a href="download.html">Download</a>
							<a href="community.html">Community</a>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="wrapper">
				{{ content }}
			</div>
		</section>
		<footer>
			<div class="wrapper">
				<div class="pure-g-r">
					<div class="pure-u-1-4">
						<h4>Community</h4>
						<ul>
							<li><a href="community.html">IRC Channel</a></li>
							<li><a href="https://discourse.glfw.org/">Forum</a></li>
						</ul>
					</div>
					<div class="pure-u-1-4">
						<h4>Development</h4>
						<ul>
							<li><a href="/docs/latest/">Documentation</a></li>
							<li><a href="community.html#bindings">Language Bindings</a></li>
							<li><a href="https://github.com/glfw">GitHub Repositories</a></li>
						</ul>
					</div>
					<div class="pure-u-1-4">
						<h4>News</h4>
						<ul>
							<li><a href="feed/index.xml">Atom Feed</a></li>
							<li><a href="news.html">News Archive</a></li>
							<li><a href="changelog.html">Version History</a></li>
						</ul>
					</div>
					<div class="pure-u-1-4">
						<h4>About</h4>
						<ul>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="license.html">License</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
