<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>GLFW - {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="css/base-min.css">
		<link rel="stylesheet" type="text/css" href="css/grids-min.css">
		<link rel="stylesheet" type="text/css" href="css/hint.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="alternate" type="application/atom+xml" href="feed/index.xml">
	</head>
	<body>
		<header class="main">
			<div class="wrapper">
				<div class="pure-g">
					<div class="pure-u-1-5">
						<a href="index.html" id="glfw_home">GLFW</a>
					</div>
					<div class="pure-u-4-5">
						<nav>
							<a href="documentation.html">Documentation</a>
							<a href="download.html">Download</a>
							<a href="media.html">Media</a>
							<a href="community.html">Community</a>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="wrapper">
				{{ content }}
			</div>
		</section>
		<footer>
			<div class="wrapper">
				<div class="pure-g-r">
					<div class="pure-u-1-4">
						<h4>Community</h4>
						<ul>
							<li><a href="community.html">IRC Channel</a></li>
							<li><a href="http://discourse.glfw.org/">Support Forum</a></li>
						</ul>
					</div>
					<div class="pure-u-1-4">
						<h4>Development</h4>
						<ul>
							<li><a href="/docs/latest/">Documentation</a></li>
							<li><a href="download.html#bindings">Language Bindings</a></li>
							<li><a href="https://github.com/glfw">GitHub Repositories</a></li>
						</ul>
					</div>
					<div class="pure-u-1-4">
						<h4>News</h4>
						<ul>
							<li><a href="feed/index.xml">Atom Feed</a></li>
							<li><a href="news.html">News Archive</a></li>
							<li><a href="changelog.html">Version History</a></li>
						</ul>
					</div>
					<div class="pure-u-1-4">
						<h4>About</h4>
						<ul>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="license.html">License</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
